{minimum_otp_vsn, "21.0"}.

{erl_opts, [debug_info, warnings_as_errors]}.
{deps, [{recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}}]}.

{relx, [
    {release, {mite, "0.1.0"}, [
        mite,
        recon,
        sasl
    ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

{project_plugins, [erlfmt]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{erlfmt, [
    write,
    {print_width, 120},
    {files, ["rebar.config", "apps/*/src/*", "apps/*/test/*"]}
]}.
