[
 {mite, [{clients,
          [#{in_port => 5671,
             out_port => 5671,
             out_host => {52,242,31,77}},
           #{in_port => 443,
             out_port => 443,
             out_host => {52,242,31,77}},
           #{in_port => 8883,
             out_port => 8883,
             out_host => {52,242,31,77}}
          ]}
        ]}
].
