[
 {mite, [{clients,
          [
           #{local_port => 5671,
             remote_port => 5671,
             remote_host => {52,242,31,77}},
           #{local_port => 8443,
             remote_port => 4433,
             remote_host => {192,168,1,228}},
           #{local_port => 8080,
             remote_port => 443,
             remote_host => {172,67,5,94},
             sni => "www.genetec.com"}
          ]}
        ]},
 {kernel,
  [
   {logger_level, info}
  ]}
].
